* {
	font-family: Verdana, sans-serif;
	color: #702c5c;
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #db9ec9;
	height: 60px;
}

.bar {
	padding: 12px;
	margin: 0px 200px;
}

.bar.content {
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: bold;
}

.button {
	font-size: 30px;
	color: white;	
	padding: 0px 20px 10px 0px;
}

.text {
	font-size: 20px;
	color: #db9ec9;
	padding: 0;
}

#content {
	height: auto;
	margin: 80px 220px;
}

.picture {
	height: 500px;
	margin-top: 30px;
}

.list {
	background-color: #fadef2;
	border-left: 10px solid #702c5c; 
	margin-top: 30px;
}

.percent {
	background-color: #db9ec9;
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}

/* skill percentages */
.percent.c {
	width: 80%;	
}
.percent.java {
	width: 60%;	
}
.percent.html {
	width: 30%;
}
.percent.css {
	width: 10%;
}
.percent.asm {
	width: 15%;
}
/* end of skill percentages */

ul {
	list-style-type: none;
}

h1 {
	font-size: 100px;
	margin-top: 20px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 20px;
	margin: 10px 0px;
	line-height: 40px;	
}
